git+https://github.com/overhangio/tutor@sumac
git+https://github.com/overhangio/tutor-mfe@sumac
git+https://github.com/overhangio/tutor-minio@sumac
setuptools
git+https://github.com/edunext/tutor-contrib-s3@sumac
