apiVersion: apps/v1
kind: Deployment
metadata:
  name: cms
spec:
  template:
    spec:
      containers:
        - name: cms
          lifecycle:
            preStop:
              exec:
                command:
                - "sleep"
                - "30"
          startupProbe:
            httpGet:
              httpHeaders:
                - name: Host
                  value: {{ CMS_HOST }}
              path: /heartbeat
              port: 8000
            initialDelaySeconds: 5
            timeoutSeconds: 3
            periodSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              httpHeaders:
                - name: Host
                  value: {{ CMS_HOST }}
              path: /heartbeat
              port: 8000
            periodSeconds: 5
            failureThreshold: 3
      terminationGracePeriodSeconds: 60
