{{ patch("drydock-maintenance-caddyfile-global") }}

:80 {
	handle /health {
		respond "OK" 200
	}

	{{ patch("drydock-maintenance-caddyfile") | indent(4) }}

	handle {
		error {{ DRYDOCK_MAINTENANCE_HTTP_STATUS }}
	}

	handle_errors {
		@maintenance expression {http.error.status_code} == {{ DRYDOCK_MAINTENANCE_HTTP_STATUS }}
		handle @maintenance {
			root * /srv/maintenance
			rewrite * /maintenance.html
			header Content-Type "text/html; charset=utf-8"
			file_server
		}
	}
}
