{% for job in get_init_tasks() %}
{{ job }}
---
{% endfor %}
{% if MIGRATE_FROM in get_upgrade_list() %}
apiVersion: batch/v1
kind: Job
metadata:
  name: drydock-upgrade-lms-job
  labels:
    drydock.io/component: job
    drydock.io/target-service: lms
    drydock.io/runner-service: lms
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  ttlSecondsAfterFinished: 100
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: lms
        image: {{ DOCKER_IMAGE_OPENEDX }}
        command:
          - /bin/sh
          - -c
          - -e
        args:
        - |
          {%- if 'maple' in get_upgrade_list() %}
          ./manage.py lms backpopulate_user_tours
          {%- endif %}
          {%- if 'nutmeg' in get_upgrade_list() %}
          ./manage.py lms compute_grades -v1 --all_courses
          {%- endif %}
        env:
        - name: SERVICE_VARIANT
          value: lms
        - name: DJANGO_SETTINGS_MODULE
          value: lms.envs.tutor.production
        volumeMounts:
          - mountPath: /openedx/edx-platform/lms/envs/tutor/
            name: settings-lms
          - mountPath: /openedx/edx-platform/cms/envs/tutor/
            name: settings-cms
          - mountPath: /openedx/config
            name: config
      volumes:
      - name: settings-lms
        configMap:
          name: openedx-settings-lms
      - name: settings-cms
        configMap:
          name: openedx-settings-cms
      - name: config
        configMap:
          name: openedx-config
---
apiVersion: batch/v1
kind: Job
metadata:
  name: drydock-cms-job
  labels:
    drydock.io/component: job
    drydock.io/target-service: cms
    drydock.io/runner-service: cms
  annotations:
    argocd.argoproj.io/sync-wave: "3"
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  ttlSecondsAfterFinished: 100
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: cms
        image: {{ DOCKER_IMAGE_OPENEDX }}
        command:
          - /bin/sh
          - -c
          - -e
        args:
        - |
          {%- if 'maple' in get_upgrade_list() %}
          ./manage.py cms backfill_course_tabs
          ./manage.py cms simulate_publish
          {%- endif %}
        env:
        - name: SERVICE_VARIANT
          value: cms
        - name: DJANGO_SETTINGS_MODULE
          value: cms.envs.tutor.production
        volumeMounts:
          - mountPath: /openedx/edx-platform/lms/envs/tutor/
            name: settings-lms
          - mountPath: /openedx/edx-platform/cms/envs/tutor/
            name: settings-cms
          - mountPath: /openedx/config
            name: config
      volumes:
      - name: settings-lms
        configMap:
          name: openedx-settings-lms
      - name: settings-cms
        configMap:
          name: openedx-settings-cms
      - name: config
        configMap:
          name: openedx-config
{% endif %}
