apiVersion: batch/v1
kind: Job
metadata:
  name: drydock-cms-job
  labels:
    shipyard.io/component: job
    drydock.io/target-service: cms
    drydock.io/runner-service: cms
  annotations:
    argocd.argoproj.io/sync-wave: "3"
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  ttlSecondsAfterFinished: 100
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: cms
        image: {{ DOCKER_IMAGE_OPENEDX }}
        command: ["/bin/sh", "-c"]
        args:
        - |
          dockerize -wait tcp://{{ MYSQL_HOST }}:{{ MYSQL_PORT }} -timeout 20s

          echo "Loading settings $DJANGO_SETTINGS_MODULE"

          ./manage.py cms migrate

          # Fix incorrect uploaded file path
          if [ -d /openedx/data/uploads/ ]; then
            if [ -n "$(ls -A /openedx/data/uploads/)" ]; then
              echo "Migrating CMS uploaded files to shared directory"
              mv /openedx/data/uploads/* /openedx/media/
              rm -rf /openedx/data/uploads/
            fi
          fi
        env:
        - name: SERVICE_VARIANT
          value: cms
        - name: DJANGO_SETTINGS_MODULE
          value: cms.envs.tutor.production
        volumeMounts:
          - mountPath: /openedx/edx-platform/lms/envs/tutor/
            name: settings-lms
          - mountPath: /openedx/edx-platform/cms/envs/tutor/
            name: settings-cms
          - mountPath: /openedx/config
            name: config
      volumes:
      - name: settings-lms
        configMap:
          name: openedx-settings-lms
      - name: settings-cms
        configMap:
          name: openedx-settings-cms
      - name: config
        configMap:
          name: openedx-config
